<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="GameServerWCF.CGameChoiceService" behaviorConfiguration="mexBehavior">
        <endpoint address="GameChoiceService"
                  binding="netTcpBinding"
                  bindingConfiguration="sessionedTcp"
                  contract="GameServerWCF.Interfaces.GameChoiceService.IGameChoiceService" />
        <endpoint address="MapService"
                  binding="netTcpBinding"
                  bindingConfiguration="sessionedTcp"
                  contract="GameServerWCF.Interfaces.MapService.IMapService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1300/" />
            <add baseAddress="net.tcp://localhost:1301/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="sessionedTcp">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=PAVEL-OWN-PC;Initial Catalog=Game;Persist Security Info=True;User ID=ContentUser;Password=C0ntents;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SqlQueriesSourcePath" value="../../../DataAccessLayer/sqlQueries.xml" />
  </appSettings>
</configuration>