<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name ="filenamePrefix" value="GameServerWCF"/>
  <variable name ="logDirrectory" value="C:\\Temp\logs/"/>

  <targets>

    <target xsi:type="AsyncWrapper" name ="AsyncForAll">

      <target xsi:type="File" name ="FileForAll" fileName="${var:logDirrectory}/${shortdate}/${var:filenamePrefix}_All.log"
              encoding="utf-16"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}"/>
    </target>

    <target xsi:type="AsyncWrapper" name ="AsyncForInfo">
      <target xsi:type="File" name ="FileForInfo" fileName="${var:logDirrectory}/${shortdate}/${var:filenamePrefix}_Info.log"
              encoding="utf-16"
              layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}"/>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="AsyncForAll" />
    <logger name="*" minlevel="Info"  writeTo="AsyncForInfo" />
  </rules>
</nlog>